@model PostModel
@{
    ViewData["Title"] = @Model.Title;
}

@section scripts {
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
}

<article class="container">
    <h1 class="postTitle">@Model.Title</h1>

    @if (Model.HeaderImageUrl != null)
    {
        <img class="postHeaderImage" src="@Model.HeaderImageUrl" />
    }

    <section id="postBodyContainer"></section>

    <script>
        const markdownContent = '@Model.Body.Replace("\r\n", "\\n")';
        const parsedHtml = marked.parse(markdownContent);

        document.getElementById('postBodyContainer').innerHTML = parsedHtml;
    </script>
</article>


